@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

*{margin:0;padding:0; font-family: 'Baloo Bhaina', cursive;}
#title{text-align: center;margin:10px;}
#championships{margin-top:20px !important;}
#championship-details, #championships{
	width:90%;
	margin:0 auto;
}
#championship-info{margin:10px;}
#championship-info h1,h2,h3,p{margin:10px;}
.sportevent-infotext{margin:20px;}
td,th{padding-left:20px !important;}